{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-success mb-3 btn-block">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

<?php
    this.Getutilisateur
    $requete="insert into paiement values
?>