<form method="post" action="{{ path('fabricants_delete', {'id': fabricant.id}) }}" onsubmit="return confirm('etes vous sur de vouloir supprimer ce frabricant?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fabricant.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
