{% extends 'base.html.twig' %}

{% block title %}New Fabricants{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter une marque</h1>

        {{ include('fabricants/_form.html.twig') }}

        <a class="btn btn-primary btn-block" href="{{ path('fabricants_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
